<a href="https://colab.research.google.com/github/Mujthaba-GM/DDDDDDDDDDDDDDDummy/blob/main/Data_Stcrutures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=10
print(a)

10

In [5]:
#interactive commands or python
a=int(input("Enter the value of a"))
print(a)

Enter the value of a10
10

In [8]:
#Arithmetic operations
a=2
b=3
print(a%b)

2

In [10]:
#type cconversions
a=10.5
print(type(a))
b=20
print(type(b))
c='a'
print(type(c))
d="apple"
print(type(d))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>

In [14]:
a=10
b=float(10)
print(b)
print(type(a))
print(type(b))

c=20.5
d=int(c)
print(d)
print(type(c))
print(type(d))

10.0
<class 'int'>
<class 'float'>
20
<class 'float'>
<class 'int'>

In [17]:
# Realtional operators
a=10
b=20
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [23]:
#logical operators
a=10
b=20
c="good"
d="Fellow"
print(a>b and b>a)
print(d and c)
print()

False
good

In [24]:
 # Program to demonstrate string operations in Python

s1 = input("Enter a string: ")
s2 = input("Enter another string: ")

print("\nString Operations")
print("Length of first string        :", len(s1)) # 5
print("Length of second string       :", len(s2)) # 3

print("Concatenation                 :", s1 + " " + s2) #apple bad
print("Repetition (first string * 2) :", s1 * 2) # apple apple

print("Uppercase                     :", s1.upper()) #APPLE
print("Lowercase                     :", s1.lower()) #apple
print("Title case                    :", s1.title()) #Apple

print("String comparison             :", s1 == s2) # False

print("First character               :", s1[0]) # a
print("Last character                :", s1[-1])#e
print("Last character                :", s1[0:-1])#appl

print("Substring (first 3 chars)     :", s1[:3]) #app
print("Reverse string                :", s1[::-1]) #elppa

print("Replace 'a' with '@'          :", s1.replace('a', '@'))#
print("Count of 'a'                  :", s1.count('a')) # 1
print("Find 'a' position             :", s1.find('a')) #True

Enter a string: apple
Enter another string: bad

String Operations
Length of first string        : 5
Length of second string       : 3
Concatenation                 : apple bad
Repetition (first string * 2) : appleapple
Uppercase                     : APPLE
Lowercase                     : apple
Title case                    : Apple
String comparison             : False
First character               : a
Last character                : e
Last character                : appl
Substring (first 3 chars)     : app
Reverse string                : elppa
Replace 'a' with '@'          : @pple
Count of 'a'                  : 1
Find 'a' position             : 0

In [54]:
#list operations
list=[1,2,3,"apple","boy",10.5]
print(list)
print("Negative slicing",list[-1])
print(list.extend([10,20]))
print(list)
print(list.append(50))
print(list)
print(list.insert(2,100))
print(list)
print("After pop",list.pop())
print(list)
print("After remove",list.remove(100))
print(list)
print(list.count(10))
list1=[10,20,30,40,50]
list2=[2,3,4,5]
print(max(list1))
print(min(list1))
print(sum(list1))
print(list1.sort())
print(list1)
print(list.reverse())
print(list)
print("Join",list1+list2)
print(list1.reverse())
print(list1)
l3=list1.copy()
print(list1)
print(l3)

[1, 2, 3, 'apple', 'boy', 10.5]
Negative slicing 10.5
None
[1, 2, 3, 'apple', 'boy', 10.5, 10, 20]
None
[1, 2, 3, 'apple', 'boy', 10.5, 10, 20, 50]
None
[1, 2, 100, 3, 'apple', 'boy', 10.5, 10, 20, 50]
After pop 50
[1, 2, 100, 3, 'apple', 'boy', 10.5, 10, 20]
After remove None
[1, 2, 3, 'apple', 'boy', 10.5, 10, 20]
1
50
10
150
None
[10, 20, 30, 40, 50]
None
[20, 10, 10.5, 'boy', 'apple', 3, 2, 1]
Join [10, 20, 30, 40, 50, 2, 3, 4, 5]
None
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]